body {
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.centered{
  text-align: center;
}
.main-header {
    width: 100%;
    height: 3.5rem;
    background-color: rgb(225, 255, 0);
    padding: 0 1.5rem;
}
img{
  width: 100%;
}
.main-header__item-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.main-header__item {
    margin: 0 1rem;
    padding: 0;
}

.main-header__item a {
    text-decoration: none;
    padding: 0;
}

.main-header__nav {
    height: 100%;
    align-items: center;
    display: flex;
}

.main-header__item a:hover,
.main-header__item a:active,
.main-header__item a.active {
    color: #6200ff;
}

main {
    padding: 1rem;
}
.error-form{
    width: 20rem;
    padding: 10px;
    max-width: 90%;
    margin: 10% auto;
    border: 4px solid #dbc441;
}
.product-form{
    width: 20rem;
    padding: 10px;
    max-width: 90%;
    margin: auto;
    border: 1px solid #dbc441;
}
.form-control {
    margin: 1rem 0;
}
.form-control input,textarea{
    border: 1px solid #dbc441;
    font: inherit;
    border-radius: 2px;
}
.form-control label,
.form-control input,
textarea{
    display: block;
    width: 90%;
}
.form-control input:focus,
textarea:focus{
    outline-color: #00695c;
}
button{
    font: inherit;
    border: 1px solid #dbc441;
    color: purple;
    background-color: white;
    cursor: pointer;
    border-radius: 3px;
}
button:hover,
button:active{
    background-color:purple ;
    color: white;
}


.grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: stretch;
  }
  
  .card {
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  }
  
  .card__header,
  .card__content {
    padding: 1rem;
  }
  
  .card__header h1,
  .card__content h1,
  .card__content h2,
  .card__content p {
    margin: 0;
  }
  
  .card__image {
    width: 100%;
  }
  
  .card__image img {
    width: 100%;
  }
  
  .card__actions {
      padding: 1rem;
      text-align: center;
  }
  
  .card__actions button,
  .card__actions a {
      margin: 0 0.25rem;
  }
  
  .btn {
    font: inherit;
    border: 1px solid #00695c;
    color: #00695c;
    background: white;
    border-radius: 3px;
    cursor: pointer;
  }
  
  .btn:hover,
  .btn:active {
    background-color: #00695c;
    color: white;
  }
  .callout {
    padding: 20px;
    margin: 20px 0;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 3px;
  }
  .callout-primary {
    border-left-color: #428bca;
  }
  h4 {
    color: 428bca;
  }