
    <main>
      <form class="error-form" action="" method="post">
        <div class="form-control">
            <h1 style="margin-left: 6%;">Page Not Found</h1>
        </div>
        </form>
    </main>

